*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gunplay;
  src: url("../font/gunplay.regular.ttf");
}

.gridContainer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
