body {
  background-color: palevioletred;
  background-image: url("../img/best\ bg.jpg");
  background-size: cover;
  color: #391c1a;
}

header {
  grid-column: 2 / -1;
  margin-right: 40px;
}

h1 {
  color: #f3d6b3;
  font-size: 4rem;
  font-family: Gunplay;
  margin: 25px 0;
  font-weight: 400;
  text-align: right;
}

.accordion-header strong {
  font-size: 1.3rem;
}

.accordion {
  float: right;
  border-radius: 100px;
}

.accordion,
.accordion-item,
.accordion-header,
.accordion-button,
/* .accordion-button:active, */
/* .accordion-button::after, */
.accordion-button:not(.collapse) {
  background-color: #f3d6b3;
  color: inherit;
  width: 900px;
  outline: 0;
}

.accordion-button:not(.collapse)::after {
  transform: rotate(180);
  transition: 0.5s;
}

.accordion-collapse {
  background-color: var(--bs-gray-300);
  transition: 0.5s;
}

::-webkit-scrollbar {
  display: none;
}

.socials {
  grid-template-columns: 25% 25% 25% 25%;
  align-items: start;
  justify-items: start;
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 150px;
}

.link {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

.icon {
  width: 40px;
  height: 40px;
  fill: #f3d6b3;
}
.icon:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.icon-facebook:hover {
  fill: #1877f2;
}
.icon-instagram:hover {
  fill: #391c1a;
}
.icon-discord:hover {
  fill: #7289da;
}
.icon-github:hover {
  fill: #333;
}
